@import "tailwindcss";

:root {
  /* Fonts */
  --font-satoshi: 'Satoshi', sans-serif;
  --font-fira-code: 'Fira Code', monospace;

  /* Colors */
  --color-background: 3 7 18;
  --color-foreground: #1E1F29;

  --color-primary: #66D1FF;
  --color-secondary: #42454E;
  --color-secondary-light: #616570;
}

body {
  background-color: rgb(var(--color-background));
  color: var(--color-foreground);
  font-family: var(--font-satoshi);
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary-light {
    color: var(--color-secondary-light);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .font-code {
    font-family: var(--font-fira-code);
  }

  .bg-color {
    background: rgb(var(--color-background));
  }

  .bg-secondary {
    background: var(--color-foreground);
  }

  .diagonal-pattern {
    background-image: repeating-linear-gradient(
      135deg,
      var(--color-secondary) 0,
      var(--color-secondary) 1px,
      transparent 1px,
      transparent 7px
    );
  }

  .dots-pattern {
    background-image: radial-gradient(
      var(--color-secondary) 1px,
      transparent 1px
    );
    background-size: 8px 8px;
  }

  .marquee-skills {
    overflow: hidden;
    user-select: none;
    display: flex;

    --gap: 20px;
    gap: var(--gap);
  }

  .marquee-skills ul {
    list-style: none;
    display: flex;
    min-width: 100%;
    flex-shrink: 0;
    justify-content: space-between;
    gap: var(--gap);
    align-items: center;
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  * {
    border-color: var(--color-secondary);
  }
}
