@import "tailwindcss";

:root {
  /* Fonts */
  --font-satoshi: 'Satoshi', sans-serif;
  --font-fira-code: 'Fira Code', monospace;

  /* Colors */
  --color-background: 3 7 18;
  --color-foreground: 24 24 27;

  --color-primary: oklch(62.3% 0.214 259.815);
  --color-primary-foreground: oklch(55.4% 0.046 257.417);
  --color-secondary: oklch(27.4% 0.006 286.033);
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  font-family: var(--font-satoshi);
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }

  .text-primary-foreground {
    color: var(--color-primary-foreground);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .diagonal-pattern {
    background-image: repeating-linear-gradient(
      135deg,
      var(--color-secondary) 0,
      var(--color-secondary) 1px,
      transparent 1px,
      transparent 7px
    );
    border-left: 1.5px solid var(--color-secondary);
    border-right: 1.5px solid var(--color-secondary);
  }
}

@layer base {
  * {
    border-color: var(--color-secondary);
  }
}
